<?xml version="1.0" encoding="utf-8"?>
<settings>
	<targetDesignerId>27916ede-58c6-4356-87b1-0b0628d1e2a7</targetDesignerId>
	<createPackages>
		<package id="23e9ee1b-ab32-4f6f-9ce6-3506c2c14706" typeId="fbca4a65-b376-482c-a23d-32da9908cac9" type="Root Location Package">
			<name>root</name>
			<stereotypes />
			<childElements>
				<element id="a9e9467d-dae5-4869-bc4f-3df1be063a53" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>components</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="4e047a53-9ab2-472f-b55c-07a35f5824b7" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
							<name>layout</name>
							<genericTypes />
							<metadata />
							<stereotypes />
							<childElements>
								<element id="0030e31a-860f-41c5-bffa-937a434bd3b8" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
									<name>appbar</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements>
										<element id="e63ae919-fbce-46ca-8cfb-6f4b6553859c" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.Layout.AppBar.Index</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.Layout.AppBar.Index</display>
										</element>
									</childElements>
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>appbar</display>
								</element>
								<element id="dcede1df-ee1a-46a6-9b38-e9582136e7a3" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
									<name>sidebar</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements>
										<element id="f5163567-9aff-45f3-a318-11e2fd6e12bf" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.Layout.SideBar.Index</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.Layout.SideBar.Index</display>
										</element>
										<element id="095b9594-d251-4fde-8b09-34bbcc02789e" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.Layout.SideBar.Navigation</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.Layout.SideBar.Navigation</display>
										</element>
										<element id="1f0f470f-6765-443e-acb1-0408d55936d3" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.Layout.SideBar.Section</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.Layout.SideBar.Section</display>
										</element>
									</childElements>
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>sidebar</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>layout</display>
						</element>
						<element id="0b4f0f8d-613c-4289-a679-84273d0737ff" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
							<name>ui</name>
							<genericTypes />
							<metadata />
							<stereotypes />
							<childElements>
								<element id="a3a23ae5-cb21-4cb8-8ed7-67969a90ac6a" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
									<name>card</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements>
										<element id="ad26cf75-c865-4405-9bca-9ef685a11249" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.UI.Card.Index</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.UI.Card.Index</display>
										</element>
									</childElements>
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>card</display>
								</element>
								<element id="5e99ad88-9693-4e71-b743-1a6964a22480" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
									<name>columns</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements>
										<element id="ebe0e099-5103-4174-8fe5-a16ea04ccb3f" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.UI.Columns.Index</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.UI.Columns.Index</display>
										</element>
									</childElements>
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>columns</display>
								</element>
								<element id="afdb4be2-0060-4325-86ab-d50e9eebf727" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
									<name>container</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements>
										<element id="b013f923-4c88-43a2-a6f9-746a354575b4" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.UI.Container.BreakpointPadded</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.UI.Container.BreakpointPadded</display>
										</element>
										<element id="13fbaf08-c289-4643-96db-6fbf00292811" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.UI.Container.ConstrainedPadded</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.UI.Container.ConstrainedPadded</display>
										</element>
										<element id="ea947f66-5cd3-49bf-8be2-84d051464c09" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.UI.Container.Index</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.UI.Container.Index</display>
										</element>
										<element id="5c122afa-f2fc-46ac-af31-953956e8c4ab" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.UI.Container.MobileFullBreakpointPadded</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.UI.Container.MobileFullBreakpointPadded</display>
										</element>
										<element id="d0e4b7ab-ed1c-4d5e-a305-73004400b53a" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.UI.Container.MobileFullConstrainedPadded</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.UI.Container.MobileFullConstrainedPadded</display>
										</element>
										<element id="b24ff369-11db-4752-9bb1-2c879036818f" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.UI.Container.NarrowConstrainedPadded</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.UI.Container.NarrowConstrainedPadded</display>
										</element>
									</childElements>
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>container</display>
								</element>
								<element id="e4e21cf8-2518-47dc-9a43-ad622b05ff22" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
									<name>editor</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements>
										<element id="77522590-5657-4748-8e6f-3a65f97ae32b" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.UI.Editor.Index</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.UI.Editor.Index</display>
										</element>
										<element id="8663d7c5-45ef-49ca-865c-9eaaf93bc9f5" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.UI.Editor.Section</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.UI.Editor.Section</display>
										</element>
									</childElements>
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>editor</display>
								</element>
								<element id="32c0d15e-0be1-4065-b66b-2a2a3571836d" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
									<name>input</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements>
										<element id="8a50e65c-0c93-418c-aa31-b4ef07a67042" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.UI.Input.Checkbox</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.UI.Input.Checkbox</display>
										</element>
										<element id="9579ae78-b19d-4e3c-92e0-c868fe107ca3" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.UI.Input.Post</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.UI.Input.Post</display>
										</element>
										<element id="601adf72-758d-4024-8c54-baf4614bb05a" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.UI.Input.RadioButton</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.UI.Input.RadioButton</display>
										</element>
										<element id="491c1d0f-6851-483e-b5b4-43bb47815c5c" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.UI.Input.Select</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.UI.Input.Select</display>
										</element>
										<element id="26d3cbb6-c9b1-404e-9b33-2c53bff9a328" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.UI.Input.TextArea</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.UI.Input.TextArea</display>
										</element>
										<element id="ba26dfb0-de54-4341-9588-ef93651f4859" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.UI.Input.Textbox</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.UI.Input.Textbox</display>
										</element>
									</childElements>
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>input</display>
								</element>
								<element id="65a096cc-2f73-4694-9382-86d749ee78ed" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
									<name>view</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements>
										<element id="759519cb-2ada-404c-b477-8869fdf0e006" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.UI.View.Index</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.UI.View.Index</display>
										</element>
										<element id="c2aa9283-9e47-4228-ba01-381cca4de42f" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.UI.View.List</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.UI.View.List</display>
										</element>
										<element id="b2cdee10-eb78-4dd4-832d-6551e737470b" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
											<name>Aryzac.IO.Modules.Nuxt.Components.UI.View.Table</name>
											<genericTypes />
											<metadata>
												<entry key="status" value="assigned" />
											</metadata>
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Aryzac.IO.Modules.Nuxt.Components.UI.View.Table</display>
										</element>
									</childElements>
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>view</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>ui</display>
						</element>
						<element id="e66130af-acc1-4ce6-b326-81e8c27ab67e" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Nuxt.Components.DeleteComponent</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Nuxt.Components.DeleteComponent</display>
						</element>
						<element id="c853bd7e-93a5-4e0f-b017-1aae80b14221" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Nuxt.Components.GetManyComponent</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Nuxt.Components.GetManyComponent</display>
						</element>
						<element id="d56e7b70-dd21-475e-a3e2-bdc69f6451d6" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Nuxt.Components.PostComponent</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Nuxt.Components.PostComponent</display>
						</element>
						<element id="b2e57d05-219a-4da3-96d4-c2fbf8667828" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Nuxt.Components.PutPatchComponent</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Nuxt.Components.PutPatchComponent</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>components</display>
				</element>
				<element id="1d28bae7-b6c4-42c4-be5b-5f1fe98724b4" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>composables</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="966b4640-e3ae-47ac-956c-ee941b3464cb" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Nuxt.Composables.useDebug</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Nuxt.Composables.useDebug</display>
						</element>
						<element id="19e96f13-903c-40b8-bdec-edec5c65010a" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Nuxt.Composables.useDefaultNavigation</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Nuxt.Composables.useDefaultNavigation</display>
						</element>
						<element id="15ed5e2f-a3a2-41a4-b21e-c21296a53023" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Nuxt.Composables.useNavigation</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Nuxt.Composables.useNavigation</display>
						</element>
						<element id="14af176d-bebd-4eb5-93f1-566ab11d902e" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Nuxt.Composables.useServices</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Nuxt.Composables.useServices</display>
						</element>
						<element id="9bae8089-7c21-41ba-bc13-572ce8b1df56" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Nuxt.Composables.useSidebar</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Nuxt.Composables.useSidebar</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>composables</display>
				</element>
				<element id="d2152815-0b93-4b91-bf81-37f3467bf229" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>layouts</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="81ccedec-d6f8-4183-9f7d-25cc8a2c1f05" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Nuxt.Layouts.default</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Nuxt.Layouts.default</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>layouts</display>
				</element>
				<element id="5dd8ef58-b69a-4f55-8669-8e8f20df5925" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>pages</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="91525502-6f93-4b9b-99e6-83d16cd637a0" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Nuxt.Pages.index</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Nuxt.Pages.index</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>pages</display>
				</element>
				<element id="8cd979ee-b484-4331-9a1b-f0d23e4c0da6" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>server</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="5099a7b5-4d8c-4054-a5ab-1f412659cb22" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Nuxt.Server.ApiServiceProxy</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Nuxt.Server.ApiServiceProxy</display>
						</element>
						<element id="430237ae-324a-4453-98b3-3c6763fba095" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Nuxt.Server.tsconfig</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Nuxt.Server.tsconfig</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>server</display>
				</element>
				<element id="9ea42ab1-fff4-4e33-904a-c5cad4a8610e" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>services</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="cc9b0f7a-6352-4785-8ad4-c5c83cd8b491" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Nuxt.Services.ServiceProxy</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Nuxt.Services.ServiceProxy</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>services</display>
				</element>
				<element id="f031fc5c-f82a-4eb0-8070-960ea3d37791" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>structs</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="541e2864-6943-41a7-8da1-8f518c5ef7ef" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
							<name>models</name>
							<genericTypes />
							<metadata />
							<stereotypes />
							<childElements>
								<element id="c84c253e-c89a-4eea-bbe0-b3c50f396234" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
									<name>Aryzac.IO.Modules.Nuxt.Structs.DTOs.DTO</name>
									<genericTypes />
									<metadata>
										<entry key="status" value="assigned" />
									</metadata>
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Aryzac.IO.Modules.Nuxt.Structs.DTOs.DTO</display>
								</element>
								<element id="49c7528f-d546-4131-a389-10a40e520089" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
									<name>Aryzac.IO.Modules.Nuxt.Structs.DTOs.JsonResponse</name>
									<genericTypes />
									<metadata>
										<entry key="status" value="assigned" />
									</metadata>
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Aryzac.IO.Modules.Nuxt.Structs.DTOs.JsonResponse</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>models</display>
						</element>
						<element id="474df5c9-5d87-4d34-bc8b-9bedaaeed90d" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Nuxt.Structs.navigation</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Nuxt.Structs.navigation</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>structs</display>
				</element>
				<element id="17820346-3962-4255-b467-957179e13061" typeId="8663c9f9-2852-45e7-aaa1-0883a2e6f1da" type="Role">
					<name>Default</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements />
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Default</display>
				</element>
				<element id="e73f0937-8cdb-43c2-9bc2-678ea054cd8a" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
					<name>Aryzac.IO.Modules.Nuxt.gitignore</name>
					<genericTypes />
					<metadata>
						<entry key="status" value="assigned" />
					</metadata>
					<stereotypes />
					<childElements />
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Aryzac.IO.Modules.Nuxt.gitignore</display>
				</element>
				<element id="e56395e1-63a7-47dd-8a08-2718081e5a3f" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
					<name>Aryzac.IO.Modules.Nuxt.nuxt.config</name>
					<genericTypes />
					<metadata>
						<entry key="status" value="assigned" />
					</metadata>
					<stereotypes />
					<childElements />
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Aryzac.IO.Modules.Nuxt.nuxt.config</display>
				</element>
				<element id="e4c002f1-add9-4c7d-82a7-1f4987a751fb" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
					<name>Aryzac.IO.Modules.Nuxt.package</name>
					<genericTypes />
					<metadata>
						<entry key="status" value="assigned" />
					</metadata>
					<stereotypes />
					<childElements />
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Aryzac.IO.Modules.Nuxt.package</display>
				</element>
				<element id="a2fc2889-eb09-4b92-9ae1-ce9aaea8e784" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
					<name>Aryzac.IO.Modules.Nuxt.readme</name>
					<genericTypes />
					<metadata>
						<entry key="status" value="assigned" />
					</metadata>
					<stereotypes />
					<childElements />
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Aryzac.IO.Modules.Nuxt.readme</display>
				</element>
				<element id="e1f03a33-37e1-453c-b043-8ebcd8a716ff" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
					<name>Aryzac.IO.Modules.Nuxt.tsconfig</name>
					<genericTypes />
					<metadata>
						<entry key="status" value="assigned" />
					</metadata>
					<stereotypes />
					<childElements />
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Aryzac.IO.Modules.Nuxt.tsconfig</display>
				</element>
			</childElements>
			<associations />
			<references />
		</package>
	</createPackages>
</settings>